.container {
  border: 1px solid black;
  margin: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

.name {
  margin-top: .5rem;
  font-size: 1.7rem;
  text-align: center;
}

.address {
  margin-top: .5rem;
  font-size: 1rem;
  text-align: center;
}