.right-side {
  border: 1px solid black;
  font-family: 'Times New Roman', Times, serif;
  padding: 1rem 2rem;
}

.personal-info-display>.name {
  margin-top: .5rem;
  font-size: 1.7rem;
  text-align: center;
}

.personal-info-display>.address {
  margin-top: .5rem;
  font-size: 1rem;
  text-align: center;
}

.personal-info-display>.contact {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.personal-info-display>.education-info-display {
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0;
}

.personal-info-display>.heading {
  font-weight: 800;
  margin-left: -1rem;
}

.personal-info-display>.ed-row {
 display: flex;
 gap: 2rem;
  
}

.personal-info-display>.degree {
  font-style: italic;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}
li {
  padding: 0;
  margin: 0;
  font-style: italic;
}