.ed-info {
  text-align: left;
  font-size: 2rem;
  margin: .1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5rem 5rem 5rem 5rem;
  border: 1px grey solid;
  border-radius: 10px;
  column-gap: 20px;
  row-gap: 1rem;
  background-color: rgb(200, 220, 250);
}

.comment {
  height: 3rem;
}

