.ed-container {
  text-align: left;
  font-size: 2rem;
  margin: .1rem;
  padding: 1rem;
  border: 1px grey solid;
  border-radius: 10px;
  background-color: rgb(200, 220, 250);
}

.ed-form{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 5rem;
  grid-auto-rows: 5rem;
  column-gap: 20px;
  row-gap: 1rem;
}

.comment {
  height: 3rem;
  margin-right: 0;
}

.buttons {
  display: flex;
  height: 1.4rem;
  margin-top: .2rem;
}

input[type='text']{
  width: 100%;
}

