.personal-info {
  text-align: left;
  font-size: 2rem;
  margin: .1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border: 1px grey solid;
  border-radius: 10px;
  column-gap: 20px;
  background-color: rgb(200, 220, 250);
}
.row {
  padding: 0 !important;
  display: flex;
  column-gap: 10px;
  height: 2rem;
  justify-content: space-between ;
}
.row > input {
  flex: 1 1 auto;
}
.row > .state {
  flex: 0 0 1rem;
}
.row > .zip {
  flex: 0 0 1rem;
}
form > * {
  height: 1.5rem;
}
.section-head {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0;
}