.personal-info {
  text-align: left;
  font-size: 2.2rem;
  margin: .1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border: 1px grey solid;
  border-radius: 10px;
  background-color: rgb(200, 220, 250);
}

.personal-info>form{
  width: 200px;
}
.row {
  display: flex;
  height: 2rem;

  margin-right: 1rem;
}

.section-head {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0;
}

.first-name, .middle-name, .last-name{
  width: 100%;
}

.state {
  width: 50%;
}

.zip {
  width: 50%;
}

.submitBtn{
  width: fit-content;
}

.street, .city {
  width: 100%;
}

.email, .website, .phone {
  width: 100%;
}



