html{
  box-sizing: border-box;
}

.App {
  margin: 1rem;
  display: grid;
  grid-template-columns: 45vw 50vw;
  gap: 1rem;
  padding-right: 1rem;
}

.left-side{
  display: flex;
  flex-direction: column;
}

textarea { 
  max-width:96.2%;min-height:3rem;height:3rem;width:96.2%;
}

.main-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;

}

@media print {
  * {
    border: none !important;
  }
  body * {
    visibility: hidden; 
  }
  .right-side, .right-side * {
    visibility: visible;
    border: none;
  }
  .right-side {
    position: absolute;
    width: 725px;
    height: 1060px;
    left: 0;
    top: 0;
  }
}